// FONT IMPORTS -----------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Oswald");

// SASS VARIABLES -----------------------------------------------

$fonts: (
	decorative-main: "Cinzel Decorative",
  decorative-secondary: "Cinzel",
  regular: "Oswald"
);

$colors: (
	primary: #b71c1c,
	primary-light: lighten(#b71c1c, 10%),
	primary-dark: darken(#b71c1c, 40%),
	accent: #ff5252
);

$padding: 50px;
$line-height: 1.5;
$text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.9);
$paragraph: 18px;
$half: 50%;
$full: 100%;
$large-text: 900%;
$medium-text: 550%;
$subheader: 350%;

// SASS FUNCTIONS -----------------------------------------------

@function font($font-name) {
	@return map-get($fonts, $font-name);
}

@function color($color-name) {
	@return map-get($colors, $color-name);
}

// SASS MIXINS -----------------------------------------------

$large-desktop: 1550px;

@mixin large-desktop {
	@media (max-width: #{$large-desktop}) {
		@content;
	}
}

$reg-desktop: 1250px;

@mixin reg-desktop {
	@media (max-width: #{$reg-desktop}) {
		@content;
	}
}

$tab: 680px;

@mixin tab {
	@media (max-width: #{$tab}) {
		@content;
	}
}

$mobile: 450px;

@mixin mobile {
	@media (max-width: #{$mobile}) {
		@content;
	}
}

// GENERAL ELEMENT STYLES -----------------------------------------------

a {
  color: color(primary);
  font-weight: bolder;
}

p {
  font-size: $paragraph;
  font-family: font(regular);

  @include mobile {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: font(decorative-main);
  font-weight: bold;
}

body {
  color: color(primary-dark);
  font-weight: bolder;
  line-height: $line-height;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: font(regular);
  background: url("../img/erics-images/roman-empire.png") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

main {
  flex: 1 0 auto;
}

// FORM STYLES -----------------------------------------------

::-webkit-input-placeholder {
  color: black;
  opacity: 1.0 !important;
}

.input-field label {
  color: #000 !important;
}

.input-field input:focus + label {
  color: color(primary) !important;
}

.input-field input:focus {
  border-bottom: 1px solid color(primary) !important;
  box-shadow: 0 1px 0 0 color(primary) !important;
}

.input-field input.valid {
  border-bottom: 1px solid color(primary) !important;
  box-shadow: 0 1px 0 0 color(primary) !important;
}

.input-field input.invalid {
  border-bottom: 1px solid color(primary) !important;
  box-shadow: 0 1px 0 0 color(primary) !important;
}

.input-field .prefix.active {
  color: color(primary) !important;
}

input[type=range]::-webkit-slider-thumb {
  background-color: color(primary) !important;
}
input[type=range]::-moz-range-thumb {
  background-color: color(primary) !important;
}
input[type=range]::-ms-thumb {
  background-color: color(primary) !important;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
  background-color: #dedede;
}
input[type=range] + .thumb.active .value {
  color: color(primary) !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color:color(primary) !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
  border: 2px solid color(primary) !important;
}

// NAV STYLES -----------------------------------------------

nav {
  background-color: color(primary);
  font-family: font(decorative-secondary);
  z-index: 10;
}

#nav-secondary {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-equip {
  max-height: 64px;

  @include tab {
    max-height: 56px;
  }
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}

#ludus-drop {
  opacity:1.0;
  position:fixed;
  left:80%;
  right:0;
  text-align:right;
  padding-left:0px;
  padding-right:0px;
  z-index:10;
}

// SWIPER STYLES -----------------------------------------------

.swiper-container {
  width: 80%;
  padding-top: $padding;
  padding-bottom: $padding;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

// BUTTON STYLES -----------------------------------------------

.btn, .btn-floating {
  background-color: color(primary);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.btn:hover, .btn-floating:hover, .btn:active, .btn-floating:active, .btn:target, .btn-floating:target, .btn:focus, .btn-floating:focus {
    background-color: color(primary-light);
}


.ludus-btn {
  height: 250px;
}

.fixed-action-btn{
  right: auto; 
  margin-left: 3%; 
}

.fixed-action-btn{
  position: absolute;
  bottom: 10%;
}

.landing-btn {
  height: 100px;
  line-height: 1.2;
}

.purchase-weapon, .purchase-armor {
  font-size: 10px;
}

#inventory-view {
  margin-top: 30px;
  height: 50px;
}

#equipped-items, #add-account {
  margin-top: 30px;
  height: 50px;
  line-height: 1.2;
}

// ID STYLES -----------------------------------------------

#landing-title {
  font-size: $large-text;
  text-shadow: $text-shadow;
  font-family: font(decorative-main);

  @include large-desktop {
    font-size: 700%;
  }
  @include reg-desktop {
    font-size: 500%;
  }
  @include tab {
    font-size: 250%;
  }
}

// CLASS STYLES -----------------------------------------------

.page-title {
  text-rendering: optimizeLegibility;
  text-shadow: $text-shadow;
  font-size: $medium-text;
  font-family: font(decorative-main);

  @include reg-desktop {
    font-size: 400%;
  }
  @include tab {
    font-size: 300%;
  }
  @include mobile {
    font-size: 250%;
  }
}

.page-subtitle {
  text-shadow: $text-shadow;
  font-size: $subheader;
  font-family: font(decorative-main);

  @include reg-desktop {
    font-size: 300%;
  }
  @include tab {
    font-size: 200%;
  }
  @include mobile {
    font-size: 150%;
  }
}

.rounded-content-box {
  color: black;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-bottom: 80px;
}

.brand-logo {
  margin-left: 10px;
}

.collapsible-header {
  display: block;
  text-align: center;
}