<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{!-- styling cdns and files --}}
  <link rel="stylesheet" href="/styles/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
  <link rel="stylesheet" href="/scss/input.css" media="screen" title="no title" charset="utf-8">
  <title>Road To Rome</title>
</head>

<body>
  {{!-- content injection here --}}
  {{{body}}}
  {{!-- script cdns and files here --}}
  <script src="/js/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/accounts.js"></script>
  <script src="/js/landing.js"></script>
  <script src="/js/character.js"></script>
  <script src="/js/battle.js"></script>
  <script src="/js/market.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>