<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- styling cdns and files --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{!-- header --}}
  <header></header>
  
  {{!-- injection of the main content here --}}
  <main>
    {{{body}}}
  </main>
    {{!-- sticky footer --}}
    <footer></footer>
    {{!-- script cdns and files --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
