<main>
  <br/><br/>
  <div class="container rounded-content-box center-align z-depth-5">
    <div class="jumbotron mt-4">
      <h1 class="page-title display-4 text-center">ERROR 404</h1>
      <h5>FILE NOT FOUND</h5><br/>
      <a href="/"><button class="btn">← Back To Home</button></a>
    </div>
  </div>
</main>
