<br/><br/>
<main>
  <div class="container z-depth-5 rounded-content-box">
    <div class="row center-align">
      <h1 class="page-title col s12">About Us</h1>
      <div class="col s12">
        <h4>We are the Panda Warriors Development group</h4>
        <br/>
        <p><a target="blank" href="https://github.com/jamesschlader">Jim Schlader</a> | <a target="blank" href="https://github.com/bishopcanno">Eric Bishop</a> | <a target="blank" href="https://github.com/bryan-lee-git">Bryan Lee</a> | <a target="blank" href="https://github.com/Skeeter404">Bronson Bird</a></p>
      </div>
    </div>
    <br/>
    <hr>
    <br/>

    <div class="row center-align">
      <div class="col s12">
        <h4>Our Desire To Reinvent the RPG</h4>
      </div>

      <div class="col s12">
        <p>The four of us are students at the University of Utah/Trilogy Education Coding Bootcamp (Cohort: July 2018 - January 2019). This is our second project together as the Panda Warriors. We are 
          always trying to push ourselves to use what we've learned in new and creative ways. As our name suggests one of our major goals is to enjoy the process of creating great apps. After the success of our first
          group project, the <a target="blank" href="http://a1-guitar.com/landing.html">A1-Guitar Learner App</a>, we wanted a 
          different kind of challenge. As we tried to conjure another award winning idea, it became evident that we should create
          a game. Where the A1 Guitar Learner was largely meant to be utilitarian and helpful, <em>this project was intended to entertain.</em>
        </p>
      </div>

      <div class="col s12">
        <p>When we settled on the concept of an RPG; one member, Jim, quickly made it known that he didn't care for the traditional
          systems in other RPG's. So with the moniker "I really hate hit points!" in mind, we went about the job of creating something 
          fresh! We spent hours ironing out the details; imagining and re-imagining different ways the various game mechanics would interact
          with one another. What came out of this melding of the minds was a system where no mechanic existed in isolation. A system
          where the user had to think about not only their own strategy, but their opponent's as well. We wanted players to have to be cognizant of 
          how their available resources of speed, stamina, and strength would determine the outcome of each battle. With the addition
          of weapons and armor we added another layer of tactical challenge; all without hit points.<br/><br/>We wish you luck on your path to Rome and hope
          you have as much fun playing our app as we did creating it!
        </p>
      </div>
    </div>
  </div>
</main>