{{> Navigation/nav-block search=false post=false account=false signup=true}}

<div class="center-align container">
  <header>
    <h1>Create Your Account</h1>
    <h3 id="create-err-msg"></h3>
  </header>

  <h3 id="err-msg"></h3>

  <form id="create-form">
    <div class="row">
      <div class="form-group col m6">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
      </div>

      <div class="form-group col m6">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>

    <div class="row">
      <div class="form-group col m6">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group col m6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div>
      <h2 id="message"></h2>
    </div>

    <button type="submit" id="add-account" class="btn btn-primary">Submit</button>
  </form>
</div>