<main>

  {{!-- Title of the create page --}}
  <div class="container">
    <div class="row center-align">
      <div class="col s12">
        <h1 class="page-title">CREATE A GLADIATOR</h1>
      </div>
    </div>
  </div>

  {{!-- the carousel where the user can choose thier hero --}}
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide" id="sparticus-avatar">
            <img class="responsive-img" src="/img/game-character-images/Sparticus.svg" alt="Sparticus">            
        </div>
       <!-- Slide 2 -->
        <div class="swiper-slide" id="miyamoto-avatar">
            <img class="responsive-img" src="/img/game-character-images/Miyamoto.png" alt="Miyamoto">
        </div>
        <!-- Slide 3 -->
         <div class="swiper-slide" id="hittori-avatar">
            <img class="responsive-img" src="/img/game-character-images/Hittori.svg" alt="Hittori">
        </div>
        <!-- Slide 4 -->
        <div class="swiper-slide" id="matilda-avatar">
            <img class="responsive-img" src="/img/game-character-images/Matilda.svg" alt="Matilda">
        </div>
        <!-- Slide 5 -->
        <div class="swiper-slide" id="caterina-avatar">
            <img class="responsive-img" src="/img/game-character-images/Caterina.svg" alt="Caterina">
        </div>
        <!-- Slide 6 -->
        <div class="swiper-slide" id="hachette-avatar">
            <img class="responsive-img" src="/img/game-character-images/Hachette.svg" alt="Hachette">
        </div>
        <!-- Slide 7 -->
        <div class="swiper-slide" id="crixus-avatar">
            <img class="responsive-img" src="/img/game-character-images/Crixus.svg" alt="Crixus">
        </div>
        <!-- Slide 8 -->
         <div class="swiper-slide" id="joan-avatar">
            <img class="responsive-img" src="/img/game-character-images/Joan-two.svg" alt="Joan">
        </div>
        <!-- Slide 9 -->
        <div class="swiper-slide" id="alexander-avatar">
          <img class="responsive-img" src="/img/game-character-images/Alexander.svg" alt="Alexander">
        </div>
        <!-- Slide 10 -->
        <div class="swiper-slide" id="arthur-avatar">
          <img class="responsive-img" src="/img/game-character-images/Arthur.svg" alt="Arthur">
        </div>
        <!-- Slide 11 -->
        <div class="swiper-slide" id="attila-avatar">
          <img class="responsive-img" src="/img/game-character-images/Attila.svg" alt="Attila">
        </div>
        <!-- Slide 12 -->
        <div class="swiper-slide" id="brynhild-avatar">
          <img class="responsive-img" src="/img/game-character-images/Brynhild.svg" alt="Brynhild">
        </div>
        <!-- Slide 13 -->
        <div class="swiper-slide" id="ciniod-avatar">
          <img class="responsive-img" src="/img/game-character-images/Ciniod.svg" alt="Ciniod">
        </div>
        <!-- Slide 14 -->
        <div class="swiper-slide" id="hilde-avatar">
          <img class="responsive-img" src="/img/game-character-images/Hilde.svg" alt="Hilde">
        </div>
        <!-- Slide 15 -->
        <div class="swiper-slide" id="lagertha-avatar">
          <img class="responsive-img" src="/img/game-character-images/Lagertha.svg" alt="Lagertha">
        </div>
        <!-- Slide 16 -->
        <div class="swiper-slide" id="lancelot-avatar">
          <img class="responsive-img" src="/img/game-character-images/Lancelot.svg" alt="Lancelot">
        </div>
        <!-- Slide 17 -->
        <div class="swiper-slide" id="lee-avatar">
          <img class="responsive-img" src="/img/game-character-images/Lee-Jun-fan.svg" alt="Lee-Jun-fan">
        </div>
        <!-- Slide 18 -->
        <div class="swiper-slide" id="liberius-avatar">
          <img class="responsive-img" src="/img/game-character-images/Liberius.svg">
        </div>
        <!-- Slide 19 -->
        <div class="swiper-slide" id="maximus-avatar">
          <img class="responsive-img" src="/img/game-character-images/Maximus.svg" alt="Maximus">
        </div>
        <!-- Slide 20 -->
        <div class="swiper-slide" id="nagato-avatar">
          <img class="responsive-img" src="/img/game-character-images/Nagato.svg" alt="Nagato">
        </div>
        <!-- Slide 21 -->
        <div class="swiper-slide" id="narcissus-avatar">
          <img class="responsive-img" src="/img/game-character-images/Narcissus.svg" alt="Narcissus">
        </div>
        <!-- Slide 22 -->
        <div class="swiper-slide" id="nesdahlia-avatar">
          <img class="responsive-img" src="/img/game-character-images/Nesdahlia.svg" alt="Nesdahlia">
        </div>
        <!-- Slide 23 -->
        <div class="swiper-slide" id="quin-avatar">
          <img class="responsive-img" src="/img/game-character-images/Quin.svg" alt="Quin">
        </div>
        <!-- Slide 24 -->
        <div class="swiper-slide" id="tigris-avatar">
          <img class="responsive-img" src="/img/game-character-images/Tigris-of-Gaul.svg" alt="Tigris-of-Gaul">
        </div>
    </div>
  </div>

   {{!-- where the user can choose the stats of their character --}}
  <div class="container">
    <div class="row">
      <div class="col s3">
        <img src="" class="responsive-img" id="selected-avatar-img">
      </div>

      <div class="col s6 center-align">
        <h4>Skill Points to Spend</h4>
        <br>
        <h4 id="skill-points-display"></h4>
        <br>
        <form action="#">
          <h5>Speed</h5>
          <p class="range-field">
            <input type="range" id="create-speed-slide" min="0" max="5" value="0"/>
          </p>
          <h5>Strength</h5>
          <p class="range-field">
            <input type="range" id="create-strength-slide" min="0" max="5" value="0"/>
          </p>
          <h5>Stamina</h5>
          <p class="range-field">
            <input type="range" id="create-stamina-slide" min="0" max="5" value="0"/>
          </p>
        </form>
      </div>
    </div>

    {{!-- where the user can choose the stats of their character --}}
    <div class="container">
      <div class="row center-align">
        <div class="col s6 offset-s3">
          <form action="#">
            <h5>Strength</h5>
            <p class="range-field" id="strength-range">
              <input type="range" id="test5" min="0" max="100" />
            </p>
            <h5>Speed</h5>
            <p class="range-field" id="speed-range">
              <input type="range" id="test5" min="0" max="100" />
            </p>
            <h5>Stamina</h5>
            <p class="range-field" id="stamina-range">
              <input type="range" id="test5" min="0" max="100" />
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>