<br /><br />
<div class="container center-align rounded-content-box">
  <h1 class="page-title">LUDUS MAGNUS</h1>
  <h3>Welcome back, {{userInfo.firstName}}</h3>
  <br />
  <div class="row">
    <a href="/market"><button class="btn btn-large col s3 ludus-btn">PURCHASE GEAR + TRAIN<br />
        <img width="60%" src="/img/erics-images/market.svg">
      </button></a>
    <a href="/equip"><button class="btn btn-large col s3 ludus-btn">EQUIP GEAR<br />
        <img width="60%" src="/img/erics-images/equip.svg">
      </button></a>
    <a href="/leaderboard"><button class="btn btn-large col s3 ludus-btn">LEADER BOARD<br />
        <img width="60%" src="/img/erics-images/leaderboard.svg">
      </button></a>
    <a href="/arena"><button class="btn btn-large col s3 ludus-btn">ENTER ARENA<br />
        <img width="60%" src="/img/erics-images/battle.svg">
      </button></a>
  </div>
</div>