<div class="container center-align">
    <h1 class="page-title">LUDUS MAGNUS</h1>
    <br/>
    <div class="row">
        <a href="/arena"><button class="btn btn-large col s2 offset-s2 ludus-btn">BEGIN BATTLE<br/>
            <img width="60%" src="/img/erics-images/battle.svg" alt="">
        </button></a>
        <button class="btn btn-large col s2 offset-s1 ludus-btn">OPLO FORUM<br/>
            <img width="60%" src="/img/erics-images/market.svg" alt="">
        </button>
        <button class="btn btn-large col s2 offset-s1 ludus-btn">LEADERBOARD<br/>
            <img width="60%" src="/img/erics-images/leaderboard.svg" alt="">
        </button>
    </div>
</div>