<br /><br />
<main>
  <div class="container center-align rounded-content-box z-depth-5">
    <h1 class="page-title">TECH USED</h1>
    <div class="row">
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/node.png" alt="Node JS">
        <a href="https://nodejs.org">NODE JS</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/express.png" alt="Express">
        <a href="https://expressjs.com/">EXPRESS</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/handlebars.png" alt="Handlebars">
        <a href="https://handlebarsjs.com/">HANDLEBARS</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/materialize.png" alt="Materialize">
        <a href="https://materializecss.com/">MATERIALIZE</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/mysql.png" alt="MySQL">
        <a href="https://www.mysql.com/">MYSQL</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2">
        <img width="100%" src="/img/tech-logos/sass.png" alt="Sass">
        <a href="https://sass-lang.com/">SASS</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2 offset-m2">
        <img width="100%" src="/img/tech-logos/passport.png" alt="Passport JS">
        <a href="http://www.passportjs.org/">PASSPORT</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2 offset-m1">
        <img width="100%" src="/img/tech-logos/sequelize.png" alt="Sequelize">
        <a href="http://docs.sequelizejs.com/">SEQUELIZE</a>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col s6 m2 offset-m1">
        <img width="100%" src="/img/tech-logos/swiper.png" alt="Swiper">
        <a href="https://idangero.us/swiper/">SWIPER</a>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</main>