<div class="modal" id="combat-log">
    <div class="modal-content center-align">
        <br />
        <h3>Combat Log</h3>
        <br />
        <h5 id="log-content"></h5>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn btn-secondary">Continue</button>
    </div>
</div>