<div class="modal" id="combat-log">
    <div id="log-content" class="modal-content">
        <h5>Combat Log</h5>
        
    </div>
    <div class="modal-footer">
        <button class="modal-close btn btn-secondary">Continue</button>
    </div>
</div>