<div class="modal" id="equipped">
    <div id="equipped-content" class="modal-content">
        <div id="equipment-tables">
            <h5>Equipped Items</h5>
            <table class="highlight responsive-table">
                <thead>
                    <th>Weapon</th>
                    <th>Damage</th>
                    <th>Unequip</th>
                </thead>
                <tbody id="equipped-weapon-content"></tbody>
            </table>
            <br />
            <table class="highlight responsive-table">
                <thead>
                    <th>Armor</th>
                    <th>Defense</th>
                    <th>Weight</th>
                    <th>Unequip</th>
                </thead>
                <tbody id="equipped-armor-content"></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn submit-equipment">Bring To Battle</button>
        <button class="modal-close btn btn-secondary">Continue</button>
    </div>
</div>