<div class="modal center-align" id="instructions">
    <div class="modal-content">
        <br/>
        <h1 class="page-title">INSTRUCTIONS</h1>
        <p>INSTRUCTIONS WILL GO HERE</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn btn-secondary">Continue</button>
    </div>
</div>