<div class="modal" id="account-info">
    <div class="modal-content">
        <h5>Credentials</h5>
        <form>
            <div class="form-group">
                <label for="inputAccount">Email</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="inputAccount">Password (min 8 characters)</label>
                <input type="password" class="form-control" id="account_password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="sign-in" type="button" class="btn btn-primary">Login</button>
        <button class="modal-close btn btn-secondary">Close</button>
    </div>
</div>
