<nav class="navbar">
  <div class="nav-wrapper">
    <div class="container">
      <!-- Brand/logo -->
      <a class="brand-logo hide-on-med-and-down" href="/">Road To Rome</a>
      
      <!-- Links -->
      <ul id="nav-mobile" class="right">
        {{#if isloggedin}}
            <li class="nav-item">
              <a href="/marketplace"><i class="material-icons">shopping_cart</i></a>
            </li>
            <li class="nav-item">
              <a id="nav-equip" href="/ludus-magnus"><img src="/img/erics-images/nav-equipment.png"></a>
            </li>
            <li class="nav-item">
              <a href="/accounts/view"><i class="material-icons">person</i></a>
            </li>
            <li class="nav-item">
              <a href="/instructions"><i class="material-icons">contact_support</i></a>
            </li>
            <li class="nav-item">
              <a href="/"><i class="material-icons">home</i></a>
            </li>
            <li class="nav-item">
              <a href="/logout" alt="logout"><i class="material-icons">exit_to_app</i></a>
            </li>
        {{else}}
          <li class="nav-item">
            <a class="modal-trigger" href="#account-info">SIGN-IN</a>
          </li>
          <li class="nav-item">
            <a href="/signup">SIGN-UP</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<nav id="nav-secondary" class="navbar hide-on-med-and-down">
  <div class="nav-wrapper">
    <div class="container">
      <a class="footer-copyright" href="/">Panda Warriors Dev Group © 2018</a>
      
      <!-- Links -->
      <ul class="right">
        {{#if isloggedin}}
          <li class="nav-item">
            <a href="/market"><i class="material-icons">shopping_cart</i></a>
          </li>
          <li class="nav-item">
            <a id="nav-equip" href="/ludus-magnus"><img src="/img/erics-images/nav-equipment.png"></a>
          </li>
          <li class="nav-item">
            <a href="/accounts/view"><i class="material-icons">person</i></a>
          </li>
          <li class="nav-item">
            <a href="/instructions"><i class="material-icons">contact_support</i></a>
          </li>
          <li class="nav-item">
            <a href="/"><i class="material-icons">home</i></a>
          </li>
          <li class="nav-item">
            <a href="/logout" alt="logout"><i class="material-icons">exit_to_app</i></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="modal-trigger" href="#account-info">SIGN-IN</a>
          </li>
          <li class="nav-item">
            <a href="/signup">SIGN-UP</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{> Modal/signin-block}}